<?xml version="1.0" encoding="UTF-8"?>
<journals host="localhost" port="5432" dbname="postgres" user="postgres" password="agh">
	<title type="varchar(100)" constraints="default 'SSS'">
		<text>Full Journal Title:</text>
		<string path="parent/sibling/child" type="text"/>
	</title>
	<isotitle>
		<text>ISO Abbrev. Title:</text>
		<string path="parent/sibling/child" type="text"/>
	</isotitle>
	<jcrtitle>
		<text>JCR Abbrev. Title:</text>
		<string path="parent/sibling/child" type="text"/>
	</jcrtitle>
	<issn>
		<text>ISSN:</text>
		<string path="parent/sibling/child" type="text"/>
	</issn>
	<issuesperyear>
		<text>Issues/Year:</text>
		<int path="parent/sibling/child" type="text"/>
	</issuesperyear>
	<lang>
		<text>Language:</text>
		<string path="parent/sibling/child" type="text"/>
	</lang>
	<country>
		<text>Journal Country/Territory:</text>
		<string path="parent/sibling/child" type="text"/>
	</country>
	<publisher>
		<text>Publisher:</text>
		<string path="parent/sibling/child" type="text"/>
	</publisher>
	<publisheradress>
		<text>Publisher Address:</text>
		<string path="parent/sibling/child" type="text"/>
	</publisheradress>
	<categories>
		<text>Subject Categories:</text>
		<string path="parent/2.sibling/2.child" type="text" array="true" next="7.sibling" terminator="br" terminatorType="name"/>
	</categories>
	<totalcites>
		<text no="2">Total Cites</text>
		<int path="parent/sibling/child" type="text"/>
	</totalcites>
	<selfcites>
		<text no="3">Self Cites</text>
		<int path="parent/sibling/child" type="text" pattern="int \(.*"/>
	</selfcites>
	<selfcitesinimpactfactor>
		<text>Self Cites to Years Used</text>
		<int path="parent/sibling/child" type="text" pattern="int \(.*"/>
	</selfcitesinimpactfactor>
	<years>
		<text no="1">Cited Year</text>
		<string path="parent/sibling/2.child" type="text" array="true" next="2.parent/sibling/2.child" terminator="null" terminatorType="null" terminatorPath="2.parent/sibling"/>
	</years>
	<citednb>
		<text no="1">Cites from</text>
		<int path="parent/sibling/child" type="text" array="true" next="parent/sibling/child" terminator="null" terminatorType="null" terminatorPath="parent/sibling"/>
	</citednb>
	<citedgraphlink>
		<img attr="name">Cited Journal Graph</img> 
		<string path="attr" type="src"/>
	</citedgraphlink>
	<citingnb>
		<text no="2">Cites from</text>
		<int path="parent/sibling/child" type="text" array="true" next="parent/sibling/child" terminator="null" terminatorType="null" terminatorPath="parent/sibling"/>
	</citingnb>
	<citinggraphlink>
		<img attr="name">Citing Journal Graph</img> 
		<string path="attr" type="src"/>
	</citinggraphlink>
	<link type="img" value="Impact Factor Trend Graph">
		<impactfactoryears>
			<text no="2">Impact Factor</text>
			<int path="child" type="text" pattern="int Impact Factor" array="true" next="parent/4.sibling/child" terminator="#comment" terminatorType="name" terminatorPath="parent/4.sibling"/>
		</impactfactoryears>
		<impactfactorcites>
			<text array="true">Cites to recent articles</text>
			<int path="parent/2.sibling/2.child" type="text" />
		</impactfactorcites>
		<impactfactorarticles>
			<text array="true">Number of recent articles</text>
			<int path="2.sibling/child" type="text" />
		</impactfactorarticles>
	</link>
</journals>